.conteneur {
  cursor: pointer;
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 15px 0;
  height: 200px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 4px orange;
  overflow: hidden;
  user-select: none;
}

.conteneur:active {
  opacity: .7;
}

.conteneur>.courrier {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  z-index: 0;
  color: black;
  overflow: hidden;
}

.conteneur>.cover {
  background: rgba(255, 255, 255, 0.993);
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0px;
  height: 100%;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 100;
  padding: 10px;
  overflow: auto;
}

.conteneur>.rempl {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  border-bottom-left-radius: 3px;
}

.conteneur>.shadow>.flip-over {
  position: absolute;
  box-sizing: border-box;
  transform: rotate(-45deg);
  border: 140.75px solid transparent;
  border-top-color: #acdda0;
}

.conteneur>.shadow {
  position: absolute;
  box-shadow: 0px 0px 3px #000;
  border-top-left-radius: 3px;
  top: 0;
  left: 0;
  z-index: 1000;
}