.swal2-textarea {
	border-color: #fa7d00 !important;
	/* box-shadow: inset 0 1px 1px rgba(255, 166, 0, 0.16) !important; */
}

.swal2-confirm.swal2-styled {
	background-color: #fa7d00;
}

.swal2-cancel.swal2-styled {
	background-color: #fff;
	color: #fa7d00;
	border: 1px solid #fa7d00;
}